main {
    padding: 5;

    display: flex;
    align-items: center;
    justify-content: space space-between;
}

/*main content*/
main .main-content {
    display: flex;
    flex-direction: column; 
}

main .main-content h2 {
    margin-bottom: 2%;
    font-size: 2.2em;
    color: #00e0ff;
    transition: 0.2s ease-in-out;
}

main .main-content h2:hover {
    color: #fff;
}

main .main-content .text p {
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
}

main .main-content .text p span {
    color: #6d3cff;
}

main .main-content .text p span:hover {
    transition: 0.2s ease-in-out;
    color: #00e0ff;
}

main .main-content .text span1 {
    width: 105%;
    font-size: 1.5em;
    font-weight: 300;

    display:inline;
    text-align: right;
    align-items:center;
    justify-content: right;
}

/*cards*/
main .techs .cards-container {
    display: flex;
    align-items: center;
}

main .techs .cards-container .card {
    width: 120px;
    height:  120px;
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    margin-right: 4.8em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}


main.techs .cards-container .card img {
    width: 80%;
}

/* figure */
main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img {
    width: 400px;
    height: 400px;
    border-radius: 200px;

    margin-bottom: 6%;
    cursor: pointer;
    border: 1px #6d3cff solid;
    transition: 0.2s ease-in-out;
}

main figure img:hover {
    box-shadow: 0px 0px 10px #00e0ff;
}

main figure figcaption {
    color: #6d3cff;
    transition: 0.2s ease-in-out;
}

main figure figcaption:hover {
    color: #00e0ff;
}